/* Global ------------------------------------------------------- */
.App {
  background-color: #282c34;
  color: #fff;
  min-height: 100vh;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.button {
  border: none;
  font-size: 0.9em;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 8px 12px;
  font-weight: 700;
  border-radius: 3px;
  box-shadow: 0 6px 8px rgba(102, 119, 136, 0.03),
    0 1px 2px rgba(102, 119, 136, 0.3);
}

.button:hover,
.button:focus,
.button:active {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

.button.primary {
  background-color: #00ffbc;
  color: #4d4d6b;
}

.button.default {
  background: #bdc2cb;
  color: #4d4d6b;
}

label {
  font-weight: bold;
  margin: 5px 0px;
}

input {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 38px;
  outline: 0 !important;
  position: relative;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  box-sizing: border-box;
  font-size: 1em;
  padding: 0px 15px;
  margin-top: 8px;
  width: 100%;
  color: #fff;
}

input:focus {
  border: 2px solid #00ffbc;
}

.item-type {
  padding: 10px;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 3px;
  margin-top: 10px;
}

.item-type:hover {
  background: #33353a;
}

.item-type.active {
  color: #00ffbc;
  font-weight: bold;
  background: #3e4148;
}

.form-item {
  margin-top: 20px;
}

.form-item:first-child {
  margin-top: 0px;
}

/* Navigation Bar ------------------------------------------------------- */
#main-navigation-bar {
  height: 55px;
  display: flex;
  padding: 0 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  border-bottom: 1px solid rgb(90, 90, 112);
  text-align: center;
}

/* Alert Bar ------------------------------------------------------- */
.alert-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  background: red;
  padding: 20px 0;
  font-weight: bold;
}

.alert-bar.success {
  background: #00ffbc;
  color: #282c34;
}

.alert-bar.error {
  background: #f36b6b;
}

/* Assets Liabilities Table ------------------------------------------------------- */
#assets-liabilities-container {
  padding: 10px;
}

#assets-liabilities-table {
  border-collapse: collapse;
  width: 100%;
}

#assets-liabilities-table td,
#assets-liabilities-table th {
  padding: 8px;
}

#assets-liabilities-table tr:nth-child(even) {
  background-color: rgba(241, 243, 245, 0.03);
}

#assets-liabilities-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  text-transform: uppercase;
}

.remove-col {
  width: 10%;
  cursor: pointer;
}

.remove-col:hover {
  color: #f36b6b;
}

/* Modal ------------------------------------------------------- */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(66 74 89 / 84%);
  z-index: 1005;
}

.modal-container {
  position: fixed;
  background: #2c2f34;
  height: auto;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0%);
  -ms-overflow-style: none;
}

.modal-container::-webkit-scrollbar {
  display: none;
}

.modal-container.default {
  width: 550px;
}

.modal-container.overlay {
  width: 100%;
  top: 0;
}

.modal-container.large {
  width: 95%;
  height: 85vh;
  top: 25px;
}

.modal-header {
  border-bottom: 1px solid rgb(90, 90, 112);
  height: 50px;
  line-height: 50px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.modal-footer {
  border-top: 1px solid rgb(90, 90, 112);
  padding: 10px;
  text-align: right;
}

.modal-footer button:nth-child(even) {
  margin-left: 10px;
}

.modal-header div.title,
.modal-header div.close {
  padding: 0px 20px;
}

.modal-header div.close {
  color: #fff;
  cursor: pointer;
}

.modal-content {
  padding: 20px;
}

.modal-content::-webkit-scrollbar {
  display: none;
}

/* Placeholder ------------------------------------------------------- */
.placeholder {
  text-align: center;
  padding: 30px;
  background: rgb(255 255 255 / 3%);
  max-width: 500px;
  margin: 10vh auto 0;
}

/* Stats ------------------------------------------------------- */
#stats-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.stat-card {
  flex: 1;
  border: 2px solid #2f333b;
  padding: 10px;
}

.stat-card:nth-child(even) {
  margin: 0 10px;
}

.stat-card div.value {
  font-size: 54px;
  color: #9ca6bc;
}

.stat-card div.value.negative {
  color: #f36b6b;
}

.stat-card div.net {
  color: #00ffbc;
}

/* Loader ------------------------------------------------------- */
#loader {
  text-align: center;
  padding: 30px;
  max-width: 500px;
  margin: 10vh auto 0;
}

/* ----- Animations start here -----*/

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}

/* FADE IN  */
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}
